*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}
h1{
    margin: 50px;

}
body{
    display: flex;
    flex-direction: column;
  }

.container{
    width: 500px;
    height: 300px;
    margin: auto;
    padding: 30px;
    background-color: bisque;
    border-radius: 5%;
    justify-content: center;
}

.row{
    height: 50%;
}

.row > div{
    padding: 5px;
    height: 50%;
}

.row > button{
    
}
