*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

#lottoContainer{
    border: 1px solid black;
    width: 300px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.number{
    padding: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    
    
}
.checked{
    background-color: orange;
}
.unchecked{
    background-color: white;
}